body{
    background-color: rgb(143, 194, 239);
}
header{
    background-color: rgb(190, 238, 131);
}
main{
    background-color: rgb(217, 243, 115);
}
footer{
    background-color: rgb(195, 143, 244);
}