.container{
    background-color: rgb(149, 160, 209);
    height: 50vh;
}
.box{
    background-color: aqua;
    height: 10vh;
    width: 80px;
    transition-property: all;
    transition-duration: 3s;
    transition-timing-function: ease-out;
    transition-delay: 0.4s;
}
.translate{
    transform: translateX(10vh) translateY(10vh);
    background-color: bisque;
}
