*{
    margin: 0;
    padding: 0;
}

.container{
    margin-top: 10px;
    border: 2px solid brown;
    height: 40vh;
    /* width: 50%; */
    display: flex;
    /* flex-direction: column-reverse; */
    justify-content: center;
    align-items: center;
    /* flex-wrap: wrap; */
    align-content: center;
    flex-flow: row wrap;
    row-gap: 40px;
    column-gap: 5px;

    
}
.items{
    border: 1px solid black;
    width: 5%;
    height: 5vh;
}