h1{
    color: rgb(20, 4, 244);
    background-color: antiquewhite;
}
body{
    background-color: rgb(205, 227, 247);
}
p{
    background-color: rgb(108, 237, 237);
    color: rgb(229, 36, 103);
}