.container{
    height: 80vh;
    width: 80%;
    background-color: aqua;
    border: 2px solid red;
    margin-top: 50px;
    padding: 40px;

}
.box{
    height: 15vh;
    width: 15%;
    background-color: rgb(219, 158, 66);
    border: 1px solid purple;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transform: rotate(45deg); */
    /* transform: rotateX(30deg) rotateY(45deg) rotateZ(35deg); */
    /* transform: skew(30deg); */
    /* transform: translate(45%); */
    /* transform: translateX(45px) translateY(45px); */
    /* transform: translateY(-400%); */
}